.banner-title{
    color: #000;
font-family: Inter;
font-style: normal;
font-weight: 700; /* 128.571% */
}

.banner-sub-title{
    color: var(--3a3a3a, #3A3A3A);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 150% */
}
.banner-btn{
    color: white;
    display: inline-flex;
height: 62px;
justify-content: center;
align-items: center;
flex-shrink: 0;
background: #03677C;
}