.error{
    background-image: url('https://s3-alpha-sig.figma.com/img/d9b3/5545/477df4c8f2421cf7f18e0d6e4ede7c29?Expires=1707696000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=C7EKBRVuBBKy7YkN535I4KmAi4RsO9X8eDp5TIN5QQfuKCCB6gs8rsospFtYKBJq65wHI3K5r9XVkPuKDPD49Leh~kcsi8eq1g2ULXbY2QjUdOE5fs3WLJhRzg4cd9PFF4D5SrCKcxmQdECP8BJYLz4JgFqEgCDAyj9OARgWlL8UUHGcQAZMJVffPhL6xXa2UKz4ECrvvs8TiXWbFAecsq3m8sf2ZmO1b2wVsDTYdLyxlCPQm-Qr-va9~vWiUN42WE5jNzcJI0eye7hbdbY7taErwjhtRiWuQ3KGocIvN6OuvBdnoVW5~Jmn0nbb5u6q5VtbLaZnRzD1UNw8hMjxqQ__');
    background-repeat: no-repeat;
background-size: cover;
}